@charset "UTF-8";

*{
    font-family: 'Courier New', Courier, monospace;
    /*height: 100%;*/
}
body{
    background-image: linear-gradient(to right, #011F26, #A5A692);
}
p{
    text-align:justify;
}
main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #BFB78F;
}
h1{
    color: #F2A71B;
    text-align: center;
    text-shadow: 1px 1px 2px #a57212dc
}
h2{
    color: #025E73;
}